<header>
  <h1>My tasks</h1>
  <%= link_to '+' + 'New task', new_task_path, class: 'create--link' %>
</header>

<section>
  <div class="item--list">
    <% @tasks.each_with_index do |task, index| %>
      <div class="item">
        <sup class="item--index">
          <%= index %>
        </sup>
        <% if task.completed %>
          <%= link_to task.title, task_path(task), class: 'item--todo checked'%>
        <% else %>
          <%= link_to task.title, task_path(task), class: 'item--todo'%>
        <% end %>
      </div>
      <div class="space--link"></div>
      <%= link_to 'X', task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete--link'%>
    <% end %>
  </div>
</section>
